<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> convirtiendo en numeros {{transformar}}</p><br>
    <fieldset>
        <form action="{{url_for('calculadora')}}" method="POST">
            <input type="text" name="pantalla" onclick="inicio()" readonly><br>
            <input type="button" name="num1" value="1" onclick="agregar('1') ">
            <input type="button" name="num1" value="2" onclick="agregar('2') ">
            <input type="button" name="num1" value="3" onclick="agregar('3') "><br>
            <input type="button" name="num1" value="4" onclick="agregar('4') ">
            <input type="button" name="num1" value="5" onclick="agregar('5') ">
            <input type="button" name="num1" value="6" onclick="agregar('6') "><br>
            <input type="button" name="num1" value="7" onclick="agregar('7') ">
            <input type="button" name="num1" value="8" onclick="agregar('8') ">
            <input type="button" name="num1" value="9" onclick="agregar('9')"> <br>
            <input type="button" name="num1" value="0" onclick="agregar('0')">
            <input type="button" name="suma" value="+" onclick="agregar('+')">
            <input type="button" name="resta" value="-" onclick="agregar('-')"><br>
            <input type="button" name="multiplicacion" value="*" onclick="agregar('*')">
            <input type="button" name="division" value="/" onclick="agregar('/')">
            <input type="button" name="punto" value="." onclick="agregar('.')"><br>
            <input type="submit" name="igual" value="="  >
            <input type="button" name="delete" value="D" onclick="retroceder('D')">
            <input type="button" name="borrar" value="C" onclick="limpiar('C')"><br>
        </form>
    </fieldset>
    <script src="{{url_for('static', filename='js/pantalla.js')}}"></script>
</body>

</html>